<div class="contacts-container">

  <div class="contacts-form-container">

    <div>
      <label for="contact-name"></label>
      <input type="text" [(ngModel)]="newContact.name" placeholder="Name">
    </div>
    <div>
      <label for="contact-email"></label>
      <input type="email" [(ngModel)]="newContact.email" placeholder="E-mail">
    </div>
    <div>
      <label for="contact-phone"></label>
      <input type="number" [(ngModel)]="newContact.phoneNumber" placeholder="Phone Number">
    </div>
    <div>
      <label for="contact-image"></label>
      <input type="text" [(ngModel)]="newContact.image" placeholder="Image">
    </div>

    <button (click)="addContact()">Submit New Contact</button>

  </div>

  <div class="contacts-container-list">
    <div class="contacts-container-item" *ngFor="let contact of contacts">
      <p class="name">{{contact.name}}</p>
      <p>{{contact.email}}</p>
      <p>{{contact.phoneNumber}}</p>
      <!-- <img url="{{contact.image}}"> -->
    </div>
  </div>

</div>
